<!DOCTYPE html>
       @charset
 <html>
                  <head>
                      <meta charset="utf-8">
                      <meta author="Phalz">
                      <meta meta="description" content="Here you can download roms snd the emulators of Super Nintendo Enterteiment , Nintendo 64 and GBA ¡ Soon we will have more games and emulators !">
                      <meta name="keywords" content="snes roms , nintendo 64 , super nintendo , game boy advanced , gba roms , n64 roms , nintendo 64 roms , emulators , nintendo roms , roms">
                      <title>RomMate</title>
                      <!--Favicon-->
                      <link rel="icon" href="Favicon.ico+.ico" type="image/x-icon">
                  </head>
               <style>                                    
*{
    list-style:none;
    font-style: normal;
}
}
header{
    position:relative;
    margin:auto;
    width:1000px;
    height:116px;
    background-image: url(FondoHeader.png);
}
#logo{
    position:absolute;
    margin-top:20px;
    margin-left:25px;
}
audio{
    position:absolute;
    margin-right: 25px;
    margin-top:20px;
}
section{
    position:relative;
    margin:auto;
    width:1000px;
    height:500px;
}
aside#izq{
    position:absolute;
    margin:0px 800px 0px 0px;
    width:200px;
    height:500px;
    background-color:darkred;
}
article{
    position:absolute;
    margin:0px 0px 0px 200px;
    width:800px;
    height:500px;
    background-color:aqua;
}
footer{
    position:relative;
    margin:auto;
    width:1000;
    height:50px;
    background-color:orange;
}
                </style>
</html>

